* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.4;
  color: #444;
  background: rgb(255, 255, 255);
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 5% 15% 5% 5%;
}

.nav-items {
  display: flex;
  gap: 15px;
}

.nav-items li {
  list-style: none;
}

.eachbook {
  border: solid black 0.5px;
  margin: 1%;
}
